<h2 mat-dialog-title>Edytuj produkt</h2>
<mat-dialog-content>
  <form [formGroup]="editForm">
    <mat-form-field appearance="fill">
      <mat-label>Nazwa produktu</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Waga (g)</mat-label>
      <input matInput type="number" formControlName="weight" required>
    </mat-form-field>

    <div class="nutrition-fields">
      <mat-form-field appearance="fill">
        <mat-label>Kalorie (na 100g)</mat-label>
        <input matInput type="number" formControlName="calories" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Białko (g)</mat-label>
        <input matInput type="number" formControlName="proteins" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tłuszcze (g)</mat-label>
        <input matInput type="number" formControlName="fats" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Węglowodany (g)</mat-label>
        <input matInput type="number" formControlName="carbs" required>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="cancel()">Anuluj</button>
  <button mat-button color="primary" (click)="save()" [disabled]="!editForm.valid">Zapisz</button>
</mat-dialog-actions>