<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/home" class="logo">DietTracker</a>
  </div>
  <div class="navbar-controls">
    <button class="nav-button small" (click)="toggleTheme()">{{ themeText }}</button>
    <button class="nav-button small" (click)="handleAuth()">
      {{ isLoggedIn ? 'Wyloguj' : 'Zaloguj się' }}
    </button>
  </div>
</nav>

<div class="home-container">
  <h1>DietTracker</h1>
  <p>Śledź swoje posiłki</p>

  <div class="button-container">
    <button routerLink="/diary" class="nav-button diary">Dziennik</button>
    <button routerLink="/fluid" class="nav-button fluid">Napoje</button>
    <button routerLink="/food" class="nav-button food">Żywność</button>
  </div>

  <div class="home-card">
    <h2>Kalkulator zapotrzebowania kalorycznego</h2>
    <p>Oblicz dzienne zapotrzebowanie kaloryczne i BMI</p>
    <button routerLink="/calories" class="nav-button calories">Przejdź</button> 
  </div>
</div>