.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;

  .navbar-brand {
    display: flex;
    align-items: center;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--button-text);
    text-decoration: none;
  }

  .navbar-controls {
    display: flex;
    align-items: center;
    gap: 1.2rem; // odstęp między "motyw" a "wyloguj"
  }

  .nav-button.small {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 6px;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }
  }
}

.home-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
  position: relative;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-container {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: var(--button-bg);
  color: var(--button-text);
  min-width: 180px;
  height: 60px;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
}

.home-card {
  margin-top: 6rem;
}

.home-card h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.home-card p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.home-card .nav-button.calories {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 180px;
  height: 60px;
  margin-top: 2rem;
}