<mat-dialog-content>
  <h2>Dodaj do {{ data.mealType }}</h2>
  <mat-tab-group>
    <mat-tab label="Żywność">
      <div class="tab-content">
        <div class="food-details">
          <div class="form-group">
            <label>Waga (g):</label>
            <input type="number" [(ngModel)]="selectedWeight" class="form-control" min="1" value="100">
          </div>
        </div>
        <div *ngFor="let food of data.foods" class="item" (click)="selectItem('food', food)">
          {{ food.name }} ({{ food.calories }} kcal/100g)
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Płyny">
      <div class="tab-content">
        <div *ngFor="let fluid of data.fluids" class="item" (click)="selectItem('fluid', fluid)">
          {{ fluid.name }} ({{ fluid.amount }} ml)
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="actions">
    <button mat-button (click)="dialogRef.close()">Anuluj</button>
  </div>
  </mat-dialog-content>
`