<mat-dialog-content>
  <h2>Dodaj do {{ data.mealType }}</h2>
  <mat-tab-group>
    
    <mat-tab label="Żywność">
      <div class="tab-content">
        <div class="food-details">
          <div class="form-group">
            <label>Waga (g):</label>
            <input type="number" [(ngModel)]="selectedWeight" class="form-control" min="1" />
          </div>
        </div>

        <mat-form-field class="search-input" appearance="outline">
          <mat-label>Wyszukaj produkt</mat-label>
          <input type="text"
                 matInput
                 [(ngModel)]="searchFoodText"
                 [matAutocomplete]="autoFood" />
          <mat-autocomplete #autoFood="matAutocomplete" (optionSelected)="onFoodSelected($event.option.value)">
            <mat-option *ngFor="let food of filteredFoods" [value]="food">
              {{ food.name }} ({{ food.calories }} kcal/100g)
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </mat-tab>

  
    <mat-tab label="Napoje">
      <div class="tab-content">
        <div class="food-details">
          <div class="form-group">
            <label>Objętość (ml):</label>
            <input type="number" [(ngModel)]="selectedVolume" class="form-control" min="1" />
          </div>
        </div>

        <mat-form-field class="search-input" appearance="outline">
          <mat-label>Wyszukaj napój</mat-label>
          <input type="text"
                 matInput
                 [(ngModel)]="searchFluidText"
                 [matAutocomplete]="autoFluid" />
          <mat-autocomplete #autoFluid="matAutocomplete" (optionSelected)="onFluidSelected($event.option.value)">
            <mat-option *ngFor="let fluid of filteredFluids" [value]="fluid">
              {{ fluid.name }} ({{ fluid.calories }} kcal/100ml)
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </mat-tab>

  </mat-tab-group>

  <div class="actions">
    <button mat-button (click)="dialogRef.close()">Anuluj</button>
  </div>
</mat-dialog-content>