@use '@angular/material' as mat;


$my-primary: mat.define-palette(mat.$red-palette, 800); 
$my-accent: mat.define-palette(mat.$pink-palette, A200);
$my-warn: mat.define-palette(mat.$deep-orange-palette);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn
  ),
  typography: mat.define-typography-config(),
  density: 0
));


@include mat.core();
@include mat.all-component-themes($my-theme);
